@import url("nullstyle.css");
@import url("fonts.css");

.wrapper {
	height: 100%;
	width: 100%;

	background-color: #eff6ff;

	padding: 7vmin 5vmin;
	font-family: "Barlow";
}

.boxWrapper {
	height: 100%;
	width: 100%;
	display: flex;

	background-color: #ffffff;

	-webkit-box-shadow: 6px 8px 30px -13px #afafaf;
	-moz-box-shadow: 6px 8px 30px -13px #afafaf;
	box-shadow: 6px 8px 30px -13px #afafaf;
}

.bgWrapper {
	height: 100%;
	width: 50%;
	padding: 2%;

	background: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.logoContainer {
	height: 15%;
	width: 20%;
}

.logo {
	max-width: 100%;
}

.accountContainer {
	width: 50%;
	height: 100%;

	padding: 4% 3%;
}

.large {
	font-size: x-large;
	font-weight: 500;
	color: #2a4a5c;
}

.small {
	margin-top: 2%;

	font-size: medium;
	font-weight: 400;
	color: #7b8a92;
}

.socials {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	margin-top: 7%;

	font-weight: 200;
	font-size: medium;
	color: #fff;
}

.socialsGeneric {
	width: 45%;
	height: 5vmin;

	display: flex;
	align-items: center;

	padding: 1% 2%;
}

.facebook {
	background-color: #255a9b;
}
.linkedin {
	background-color: #0076b6;
}

.linkImg {
	max-height: 90%;
	margin-right: 15%;
}

.orContainer {
	display: flex;
	justify-content: center;
	position: relative;

	margin-top: 5%;
	font-weight: 500;
	color: #7b8a92;
}

.orContainer::before {
	content: "";
	position: absolute;

	top: 50%;
	left: 27%;
	width: 20%;
	height: 0.5px;
	
	background-color: #afafaf;
}

.orContainer::after {
	content: "";
	position: absolute;

	top: 50%;
	right: 27%;
	width: 20%;
	height: 0.5px;

	background-color: #afafaf;
}

@media (max-width: 768px) {
	.boxWrapper {
		justify-content: center;
	}

	.bgWrapper {
		display: none;
	}

	.accountContainer {
		width: 100%;
		padding: 10% 3%;
	}
	.socials {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.socialsGeneric {
		width: 90%;
		height: 8vmin;
		margin-bottom: 4%;
	}
	.orContainer::before {
		left: 24%;
	}
	.orContainer::after {
		right: 24%;
	}
}
